<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/style.css">
    <title>Happy Raksha bandhan</title>
</head>
<body>
<div id="mypage">

   
    <header>
        Happy Raksha Bandhan
    </header>
   
    <div>
        <img src="/static/gif3.gif" alt="rakhi">
    </div>
    <div class="wish">
        चंदन की डोरी, फूलों का हार,<br>
        आया सावन का महीना और राखी का त्योहार,<br>
        जिसमें झलकता है भाई-बहन का प्यार<br>
        मुबारक हो आपको राखी का त्योहार!
    </div>
    <div class="ani">
        <label for="uname" class="animating" >अपना नाम डालने के लिए<br> 
            मुझे टच करे</label>
    </div>
    <div>
        <img src="/static/gif4.gif" alt="rakhi">
    </div>
   
   
    
    <div class="wish">
        अपनी दुओं में जो, उसका ज़िकर करता है,<br>
        वो भाई है जो ख़ुद से पहले, बहन की फ़िकर करता है<br>
        👫😘 रक्षाबंधन की हार्दिक शुभकामनायें! 😀🙏
    </div>

    <form id="loginme" action="" method="post">
        <div>
            <label for="uname">Enter your name</label>
        </div>
        <div>
            <input type="text" name="uname" id="uname" value="{{request.form.uname}}"  placeholder="Enter your name " required="required">
        </div>
        <div class=" dis">
            <input  type=submit value=login class="button">
        </div>
    </form>

    <div>
        <iframe src="https://www.youtube.com/embed/TvnOkPgSnTA?&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
    </div>
</div>

</body>
</html>
