<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{name}} ने आपके लिए रक्षाबंधन की शुभकामनाएं भेजी है">
    <meta name="image" content="/static/shareimg.jpg">
    <meta property="go:title" content="Raksha bandhan mubarak">
    <meta property="go:description" content="Raksh bandhan ki aapko bahut sari badhaiya. Is link pr click kare">
    <meta property="go:image" content="/static/shareimg.jpg">
    <title>रक्षाबंधन की हार्दिक शुभकामनायें</title>

    <link rel="stylesheet" href="/static/style.css">

    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=61213f5ffa3e6f0012f5fa49&product=inline-share-buttons' async='async'></script>
</head>
<body>
    <div id="mypage">
    <header>
            {{name}} की तरफ से आपको रक्षाबंधन की हार्दिक शुभकामनाएं
    </header>
    <div>
        <img src="/static/gif5.gif" alt="">
    </div>
    
    <div class="wish">
        चंदन का टीका रेशम का धागा<br>
        सावन की सुगंध बारिश की फुहार<br>
        भाई की उम्मीद बहना का प्यार<br>
        मुबारक हो आपको रक्षाबंधन का त्योहार<br>
    </div>
    <div>
        <img src="/static/gif6.gif" alt="happy raksha bandhan">
    </div>
    <div class="ani">
        <a  href = "{{ url_for('home') }}" class="animating">अपना नाम डालने के लिए<br> 
            मुझे टच करे</a>
    </div>
    <div class="wish">
        बहनो को भाइयो का साथ मुबारक<br> 
        भाइयो को बहना का प्यार मुबारक<br>
        रहे ये सुख हमेशा आपकी जिंदगी में<br>
        सबकक रखी का ये पावन पर्व मुबारक<br>
    </div>
</div>
    <div>
        <div class="sharethis-inline-share-buttons"></div>
    </div>
    <div>
        <img src="/static/gif2.gif" alt="happy rakhi">
    </div>
    
</body>
</html>

